<main style="display: flex; margin: 30px;">
    <!-- ANIME CATALOG -->
    <div class="catalogo">
        <div class="jc-div">
            <h4>Catálogo</h4>
        </div>
        <div>
            <mat-grid-list cols="4" rowHeight="1:2" gutterSize="10px">
                <div *ngFor="let anime of this.animes">
                    <mat-grid-tile (click)="clickAnime(anime._id)"><div class="target-AN"><img src="{{anime.coverImage}}"><label>{{anime.name}}</label></div></mat-grid-tile>
                </div>
              </mat-grid-list>
        </div>
    </div>
    <!-- LIST ANIME EMISIÓN -->
    <div class="animeEmision">
        <h2>Anime emición</h2>
    </div>
</main>